In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [17]:
df = pd.read_csv('df_regression.csv')

In [5]:
df

,driver_number,lap_number,brake_count,n_gear,drs_count,speed,throttle,rpm,meeting_key,session_key,...,i1_speed,i2_speed,is_pit_out_lap,lap_duration,segments_sector_1,segments_sector_2,segments_sector_3,st_speed,Unnamed: 0,yellow_flag
0,1,1,78,3.515571,0,148.799308,46.207612,9326.743945,1210,9094,...,178.0,182.0,True,NaN,"[2049, 2051, 2049, 2051, 2051, 2049]","[2051, 2051, 2051, 2051, 2049, 2049, 2049, 204...","[2049, 2051, 2051, 2049, 2051]",271.0,0,1
1,1,2,74,3.519481,0,147.603896,44.525974,9234.474026,1210,9094,...,186.0,182.0,False,79.367,"[2049, 2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2048, 2048, 2048, 2048, 2048, 204...","[2049, 2051, 2048, 2048, 0]",259.0,1,0
2,1,3,77,3.680000,0,151.616667,45.340000,9271.326667,1210,9094,...,193.0,183.0,False,79.074,"[2048, 2049, 2049, 2048, 2049, 2049]","[2049, 2048, 2049, 2048, 2048, 2048, 2048, 204...","[2049, 2049, 2049, 2048, 2048]",260.0,2,0
3,1,4,72,3.702797,0,151.867133,44.548951,9262.979021,1210,9094,...,192.0,187.0,False,78.129,"[2049, 2048, 2048, 2048, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2048, 2049, 204...","[2049, 2049, 2049, 2049, 2049]",259.0,3,0
4,1,5,73,3.587248,0,149.647651,45.513423,9290.285235,1210,9094,...,188.0,187.0,False,78.019,"[None, 2048, 2048, 2049, 2049, 2048]","[2049, 2048, 2049, 2049, 2049, 2048, 2048, 204...","[2049, 2049, 2049, 2049, 2049]",260.0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1510,81,73,87,3.195122,0,135.801829,39.475610,9005.073171,1210,9094,...,165.0,174.0,False,87.443,"[None, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048]",274.0,72,0
1511,81,74,81,3.156923,0,136.729231,42.781538,9190.732308,1210,9094,...,174.0,172.0,False,86.185,"[None, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 0]",275.0,73,0
1512,81,75,84,3.200617,0,136.333333,41.481481,9060.395062,1210,9094,...,181.0,173.0,False,86.143,"[None, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048]",274.0,74,0
1513,81,76,90,3.235110,0,138.216301,41.184953,9178.605016,1210,9094,...,184.0,171.0,False,85.615,"[None, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 0]",276.0,75,0
1514,81,77,89,3.211656,0,137.496933,42.720859,9176.398773,1210,9094,...,182.0,178.0,False,84.785,"[None, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048]",276.0,76,0

In [18]:
df.drop(['Unnamed: 0', 'driver_number', 'date_start', 'duration_sector_1', 'duration_sector_2', 'duration_sector_3',
         'meeting_key', 'session_key', 'segments_sector_1', 'segments_sector_2', 'segments_sector_3'], axis=1, inplace=True)

In [19]:
df

,lap_number,brake_count,n_gear,drs_count,speed,throttle,rpm,i1_speed,i2_speed,is_pit_out_lap,lap_duration,st_speed,yellow_flag
0,1,78,3.515571,0,148.799308,46.207612,9326.743945,178.0,182.0,True,NaN,271.0,1
1,2,74,3.519481,0,147.603896,44.525974,9234.474026,186.0,182.0,False,79.367,259.0,0
2,3,77,3.680000,0,151.616667,45.340000,9271.326667,193.0,183.0,False,79.074,260.0,0
3,4,72,3.702797,0,151.867133,44.548951,9262.979021,192.0,187.0,False,78.129,259.0,0
4,5,73,3.587248,0,149.647651,45.513423,9290.285235,188.0,187.0,False,78.019,260.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1510,73,87,3.195122,0,135.801829,39.475610,9005.073171,165.0,174.0,False,87.443,274.0,0
1511,74,81,3.156923,0,136.729231,42.781538,9190.732308,174.0,172.0,False,86.185,275.0,0
1512,75,84,3.200617,0,136.333333,41.481481,9060.395062,181.0,173.0,False,86.143,274.0,0
1513,76,90,3.235110,0,138.216301,41.184953,9178.605016,184.0,171.0,False,85.615,276.0,0
1514,77,89,3.211656,0,137.496933,42.720859,9176.398773,182.0,178.0,False,84.785,276.0,0

In [20]:
df.isna().sum()

lap_number          0
brake_count         0
n_gear              0
drs_count           0
speed               0
throttle            0
rpm                 0
i1_speed          123
i2_speed            1
is_pit_out_lap      0
lap_duration       24
st_speed            1
yellow_flag         0
dtype: int64

In [23]:
df.dtypes

lap_number          int64
brake_count         int64
n_gear            float64
drs_count           int64
speed             float64
throttle          float64
rpm               float64
i1_speed          float64
i2_speed          float64
is_pit_out_lap       bool
lap_duration      float64
st_speed          float64
yellow_flag         int64
dtype: object

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Assuming your DataFrame is named 'df' as implied by 'df.isna().sum()'
# If your DataFrame has a different name, replace 'df' accordingly.

# 1. Handle the 'is_pit_out_lap' boolean column
df['is_pit_out_lap'] = df['is_pit_out_lap'].astype(int)


# Strategy for handling nulls:
# - For 'i1_speed', 'lap_duration': Fill with the mean (assuming these are missing somewhat randomly)
# - For 'i2_speed', 'st_speed': Fill with the mean as well, given the low number of missing values

df['i1_speed'].fillna(df['i1_speed'].mean(), inplace=True)
df['i2_speed'].fillna(df['i2_speed'].mean(), inplace=True)
df['lap_duration'].fillna(df['lap_duration'].mean(), inplace=True)
df['st_speed'].fillna(df['st_speed'].mean(), inplace=True)


# 3. Separate features (X) and target (y)
X = df.drop('lap_duration', axis=1)
y = df['lap_duration']

# 4. Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 5. Scale the numerical features
# Identify numerical columns (excluding the target variable and potentially binary/categorical)
numerical_cols = X_train.select_dtypes(include=['float64', 'int64']).columns

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train[numerical_cols])
X_test_scaled = scaler.transform(X_test[numerical_cols])

# Convert the scaled arrays back to DataFrames (optional, but can be helpful for inspection)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=numerical_cols, index=X_train.index)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=numerical_cols, index=X_test.index)

print("\nScaled Training Data:")
print(X_train_scaled.head())

print("\nScaled Testing Data:")
print(X_test_scaled.head())

# 6. Model the lap duration using Linear Regression
model = LinearRegression()

# Train the model on the scaled training data
model.fit(X_train_scaled, y_train)

# Make predictions on the scaled testing data
y_pred = model.predict(X_test_scaled)

# 7. Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)


print(f"\nMean Squared Error on the test set: {mse:.2f}")
print(f"\nMean Absolute Error on the test set: {mae:.2f}")
print(f"R-squared on the test set: {r_squared:.2f}")

# You can further analyze the model coefficients if needed
print("\nModel Coefficients:")
print(pd.DataFrame(model.coef_, index=numerical_cols, columns=['Coefficient']))

Scaled Training Data:
      lap_number  brake_count    n_gear  drs_count     speed  throttle  \
869     0.549264     0.892617 -0.365358   2.009731 -0.529356 -1.271687
1280    1.671117     0.576993  0.012737  -0.457052 -0.234243 -0.004591
1334    0.594138    -0.001649  0.269287  -0.457052  0.191097  0.082063
601    -1.425198     0.103558  0.421215  -0.148704  0.556194  0.268194
590     0.504390    -0.527688  0.538757   2.626427  0.401143  0.259202

           rpm  i1_speed  i2_speed  is_pit_out_lap  st_speed  yellow_flag
869  -0.433201 -0.064440 -1.508446       -0.194091  0.545860    -0.385766
1280 -0.403560  0.118076  0.130104       -0.194091  0.620792    -0.385766
1334 -0.063829 -0.283459  0.176920       -0.194091 -0.877845    -0.385766
601   0.310677  0.483108  0.364182       -0.194091  0.770656    -0.385766
590  -0.051885  0.665624  0.504630       -0.194091  0.321065    -0.385766

Scaled Testing Data:
      lap_number  brake_count    n_gear  drs_count     speed  throttle  \
51      0.594138    -0.212065 -0.014653  -0.457052  0.228898  0.021302
168    -1.066205    -1.053727  0.003932  -0.457052  0.522361  0.295862
1468   -0.348219    -1.106331  0.234408  -0.457052  0.641743  0.577132
926    -0.348219    -0.264669  0.344858  -0.457052  0.603033  0.481399
422    -0.034100    -0.738104  0.463939  -0.457052  0.779880  0.891457

           rpm  i1_speed  i2_speed  is_pit_out_lap  st_speed  yellow_flag
51    0.247477  0.264089 -0.525316       -0.194091 -0.428254    -0.385766
168   0.788798  0.556115  0.551445       -0.194091  0.620792    -0.385766
1468  0.641625  0.921147  0.645077       -0.194091  0.470929    -0.385766
926   0.499315  0.665624  0.645077       -0.194091  0.620792    -0.385766
422   0.676821  1.286179  0.738708       -0.194091  0.470929    -0.385766

Mean Squared Error on the test set: 16.39

Mean Absolute Error on the test set: 1.71
R-squared on the test set: 0.87

Model Coefficients:
                Coefficient
lap_number        -0.151261
brake_count        0.627281
n_gear             1.183528
drs_count         -0.290950
speed             -8.338300
throttle          -2.985882
rpm                2.482143
i1_speed           0.337382
i2_speed          -1.175383
is_pit_out_lap     0.006195
st_speed          -0.659195
yellow_flag       -0.002981

/var/folders/q1/5t02q5xd6yg1fqt4f_zpvklh0000gn/T/ipykernel_32389/2673075659.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['i1_speed'].fillna(df['i1_speed'].mean(), inplace=True)
/var/folders/q1/5t02q5xd6yg1fqt4f_zpvklh0000gn/T/ipykernel_32389/2673075659.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['i2_speed'].fillna(df['i2_speed'].mean(), inplace=True)
/var/folders/q1/5t02q5xd6yg1fqt4f_zpvklh0000gn/T/ipykernel_32389/2673075659.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['lap_duration'].fillna(df['lap_duration'].mean(), inplace=True)
/var/folders/q1/5t02q5xd6yg1fqt4f_zpvklh0000gn/T/ipykernel_32389/2673075659.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['st_speed'].fillna(df['st_speed'].mean(), inplace=True)