In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('regression_w_l_c.csv')

In [20]:
df

,LapNumber,AirTemp,Humidity,Pressure,TrackTemp,WindDirection,WindSpeed,Rainfall,Year,DriverNumber,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,1.0,25.70,51.0,1015.65,33.75,193.0,0.70,1.0,2018,10,...,True,Toro Rosso,0 days 00:06:47.319000,NaN,2,10.0,False,NaN,False,False
1,2.0,26.00,50.7,1015.60,33.90,181.0,0.60,1.0,2018,10,...,False,Toro Rosso,0 days 00:08:19.100000,NaN,21,10.0,False,NaN,False,True
2,3.0,26.00,50.7,1015.60,33.90,181.0,0.60,1.0,2018,10,...,False,Toro Rosso,0 days 00:09:39.719000,NaN,1,10.0,False,NaN,False,True
3,4.0,26.10,50.0,1015.60,33.90,283.0,1.00,1.0,2018,10,...,False,Toro Rosso,0 days 00:10:59.531000,NaN,1,10.0,False,NaN,False,True
4,5.0,26.60,48.6,1015.60,33.60,232.0,1.65,2.0,2018,10,...,False,Toro Rosso,0 days 00:12:19.093000,NaN,1,10.0,False,NaN,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8306,72.0,21.60,61.5,1018.40,40.50,211.5,0.70,0.0,2024,24,...,True,Kick Sauber,0 days 03:12:48.585000,NaN,1,16.0,False,NaN,False,True
8307,73.0,21.70,61.0,1018.40,40.80,293.0,1.10,0.0,2024,24,...,True,Kick Sauber,0 days 03:14:09.170000,NaN,1,16.0,False,NaN,False,True
8308,74.0,21.70,61.0,1018.40,40.80,214.0,0.70,0.0,2024,24,...,True,Kick Sauber,0 days 03:15:24.403000,NaN,1,16.0,False,NaN,False,True
8309,75.0,21.70,61.0,1018.40,40.60,353.0,0.60,0.0,2024,24,...,True,Kick Sauber,0 days 03:16:44.876000,NaN,1,16.0,False,NaN,False,True
8310,76.0,21.75,61.0,1018.40,40.75,221.5,1.05,0.0,2024,24,...,True,Kick Sauber,0 days 03:17:59.594000,NaN,1,16.0,False,NaN,False,True

In [6]:
df.columns

Index(['LapNumber', 'AirTemp', 'Humidity', 'Pressure', 'TrackTemp',
       'WindDirection', 'WindSpeed', 'Rainfall', 'Year', 'DriverNumber', 'RPM',
       'nGear', 'Throttle', 'Brake', 'DRS', 'Time', 'Driver', 'LapTime',
       'Stint', 'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time',
       'Sector3Time', 'Sector1SessionTime', 'Sector2SessionTime',
       'Sector3SessionTime', 'SpeedI1', 'SpeedI2', 'SpeedFL', 'SpeedST',
       'IsPersonalBest', 'Compound', 'TyreLife', 'FreshTyre', 'Team',
       'LapStartTime', 'LapStartDate', 'TrackStatus', 'Position', 'Deleted',
       'DeletedReason', 'FastF1Generated', 'IsAccurate'],
      dtype='object')

In [27]:
df.drop(['AirTemp', 'Humidity', 'Pressure',
       'WindDirection', 'WindSpeed', 'Rainfall', 'Time', 'Driver', 'Sector1Time', 'Sector2Time',
       'Sector3Time', 'Sector1SessionTime', 'Sector2SessionTime',
       'Sector3SessionTime', 'SpeedI1', 'SpeedI2', 'SpeedFL', 'SpeedST',
       'Team', 'LapStartTime', 'LapStartDate', 'Position', 'Deleted',
       'DeletedReason', 'FastF1Generated', 'IsAccurate'], axis=1, inplace=True)

In [22]:
df

,LapNumber,TrackTemp,Year,DriverNumber,RPM,nGear,Throttle,Brake,DRS,Stint,PitOutTime,PitInTime,IsPersonalBest,Compound,TyreLife,FreshTyre,TrackStatus
0,1.0,33.75,2018,10,9531.494048,3.413690,46.101190,99,0,NaN,NaN,NaN,False,NaN,NaN,True,2
1,2.0,33.90,2018,10,9394.374251,3.592814,47.080838,93,16,1.0,NaN,NaN,True,HYPERSOFT,6.0,False,21
2,3.0,33.90,2018,10,9429.505952,3.583333,48.086310,89,24,1.0,NaN,NaN,True,HYPERSOFT,7.0,False,1
3,4.0,33.90,2018,10,9437.838906,3.589666,47.723404,85,22,1.0,NaN,NaN,True,HYPERSOFT,8.0,False,1
4,5.0,33.60,2018,10,9427.572727,3.600000,46.830303,92,19,1.0,NaN,NaN,True,HYPERSOFT,9.0,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8306,72.0,40.50,2024,24,9382.875887,3.932624,50.872340,90,0,3.0,NaN,NaN,False,SOFT,2.0,True,1
8307,73.0,40.80,2024,24,8971.025559,3.750799,43.853035,102,0,3.0,NaN,NaN,True,SOFT,3.0,True,1
8308,74.0,40.80,2024,24,9461.837545,4.014440,52.931408,85,0,3.0,NaN,NaN,False,SOFT,4.0,True,1
8309,75.0,40.60,2024,24,9103.670175,3.870175,47.568421,88,0,3.0,NaN,NaN,True,SOFT,5.0,True,1
8310,76.0,40.75,2024,24,6872.786667,3.333333,16.217778,64,0,3.0,NaN,NaN,False,SOFT,6.0,True,1

In [28]:
df.dtypes

LapNumber         float64
TrackTemp         float64
Year                int64
DriverNumber        int64
RPM               float64
nGear             float64
Throttle          float64
Brake               int64
DRS                 int64
LapTime            object
Stint             float64
PitOutTime         object
PitInTime          object
IsPersonalBest       bool
Compound           object
TyreLife          float64
FreshTyre            bool
TrackStatus         int64
dtype: object

In [29]:
df[(df["PitInTime"].notna()) | (df["PitOutTime"].notna())][['DriverNumber', 'LapNumber', 'Stint', 'PitInTime', 'PitOutTime', 'LapTime']]

,DriverNumber,LapNumber,Stint,PitInTime,PitOutTime,LapTime
36,10,37.0,1.0,0 days 00:55:41.127000,NaN,0 days 00:01:36.516000
37,10,38.0,2.0,NaN,0 days 00:56:05.315000,0 days 00:01:20.582000
98,11,21.0,1.0,0 days 00:34:40.650000,NaN,0 days 00:01:40.898000
99,11,22.0,2.0,NaN,0 days 00:35:09.919000,0 days 00:01:21.571000
174,14,19.0,1.0,0 days 00:31:55.075000,NaN,0 days 00:01:36.370000
...,...,...,...,...,...,...
8216,2,58.0,3.0,NaN,0 days 02:54:03.280000,0 days 00:01:19.809000
8235,24,1.0,1.0,0 days 00:57:26.533000,NaN,0 days 00:42:06.253000
8236,24,2.0,2.0,NaN,0 days 01:37:13.050000,0 days 00:01:52.131000
8304,24,70.0,2.0,0 days 03:10:59.688000,NaN,0 days 00:01:40.898000
8305,24,71.0,3.0,NaN,0 days 03:11:24.136000,0 days 00:01:25.295000

In [30]:
# Ensure PitInTime and PitOutTime are timedelta
df["PitInTime"] = pd.to_timedelta(df["PitInTime"])
df["PitOutTime"] = pd.to_timedelta(df["PitOutTime"])

# Calculate PitDuration for rows where both times are available
df["PitDuration"] = None  # Initialize the column

# Group by unique pit stop (DriverNumber, Stint, Year)
group_cols = ["DriverNumber", "Stint", "Year"]
pit_groups = df.groupby(group_cols)

# Loop through each group to assign PitDuration
for _, group in pit_groups:
    in_row = group[group["PitInTime"].notna()]
    out_row = group[group["PitOutTime"].notna()]

    if not in_row.empty and not out_row.empty:
        # Assume first value in both cases
        pit_in = in_row.iloc[0]["PitInTime"]
        pit_out = out_row.iloc[0]["PitOutTime"]
        pit_duration = pit_out - pit_in

        # Assign back only to the row with PitInTime
        df.loc[in_row.index[0], "PitDuration"] = pit_duration

# Optional: convert to timedelta if needed
df["PitDuration"] = pd.to_timedelta(df["PitDuration"])

In [31]:
# View result
df[["DriverNumber", "Stint", "LapNumber", "PitInTime", "PitOutTime", "PitDuration"]].dropna(subset=["PitDuration"])

,DriverNumber,Stint,LapNumber,PitInTime,PitOutTime,PitDuration
311,18,2.0,34.0,0 days 00:53:56.225000,NaT,-1 days +23:26:17.515000
336,18,3.0,59.0,0 days 01:27:18.773000,NaT,-1 days +23:27:08.424000
425,2,2.0,72.0,0 days 01:42:43.175000,NaT,-1 days +22:51:19.756000
909,35,2.0,19.0,0 days 00:32:42.205000,NaT,-1 days +23:44:03.690000
939,35,3.0,49.0,0 days 01:12:50.174000,NaT,-1 days +23:20:17.346000
...,...,...,...,...,...,...
8021,77,2.0,15.0,0 days 01:56:52.474000,NaT,-1 days +23:40:15.967000
8124,18,2.0,42.0,0 days 02:33:01.090000,NaT,-1 days +23:03:48.451000
8130,18,3.0,48.0,0 days 02:41:22.662000,NaT,-1 days +23:52:02.505000
8215,2,2.0,57.0,0 days 02:53:38.899000,NaT,-1 days +22:43:24.806000
8304,24,2.0,70.0,0 days 03:10:59.688000,NaT,-1 days +22:26:13.362000